@import "../common";

// ================================================================ page layout

// useful for checking everything fits within strict bounds:
// * { outline: solid 1px gold }

body {
  margin: 0;
  background-color: $theme-backgroundcolor;
  border-top: solid 1.5rem $theme-clientcolor;
  @media print { border-top: none; }

  // this makes sure that the browser doesn't try to change font sizes itself in
  // a way that causes text to overflow boxes rather than growing them. Do not
  // remove this unless you understand clearly what it is for.
  -webkit-text-size-adjust: none;
}

@media print {
  h1 { string-set: chapter content() }
  @page {
    margin-inside: 1.5in;
    @bottom-left { content: string(chapter) }
    @bottom-right {  content: counter(page)  }
  }
}


.page-content {
  // fit nicely on ipad portrait without scrolling
  width: 728px;
  margin: 2em auto 0 auto;
  padding-bottom: 4em;
  min-height: 100vh;

  // larger-than-tablet sizes: it should get a sidebar, so make room
  @media (min-width: 1100px) {
    position: absolute;
    top: 0;
    left: 325px;
  }

  @media print {
    // don't waste space at top or bottom, and let @page decide L/R margins
    position: static;
    padding-bottom: 0;
    margin: 0;
    width: auto;
  }
}

// don't show sidebar except for wide screens
#page-sidebar { display: none; }

@media (min-width: 1100px) {
  #page-sidebar {
    font-size: 0.8rem;
    display: block;
    width: 275px;
    background-color: $theme-sidebarcolor;
    color: $mid-gray;
    border-right: solid 0 transparent;
    border-bottom: solid 0 transparent;
    border-bottom-right-radius: 1em;
    box-shadow: 0 0 3px $silver;
    padding: 1em;

    > header {
      text-align: center;
    }

    .page-logo {
      max-width: 50%;
      margin-top: 1em;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .title { font-weight: 400; font-size: 1.5em; }
    .backlink { font-size: 0.7em; }
  }

  #toc {
    display: block;

    // note that this affects all ul below
    //ul { margin: 0; list-style: none; padding: 0 }

    // first ul is just the top doc; the sections are nested in that
    > ul > li {
      margin-top: 2em;
      font-weight: 600;
      font-size: 1.2em;

      > ul > li {
        margin-top: 0.8em;
        font-weight: 400;
        font-size: 1em;

        > ul > li {
          margin-top: 0.4em;
          margin-left: 0.5rem;
          font-size: 0.9em;
          font-weight: 300;

          > ul > li {
            margin-top: 0.35em;
            margin-left: 0.5rem;
            font-size: 0.9em;

            > ul { display: none; }
          }
        }
      }
    }
  }
}

.page-project {
  font-size: 1.4em;
  font-weight: $weight-pop;
  margin-bottom: 0.25em;
}

.page-event {
  margin-top: 0.25em;
}

.page-footer {
  margin-top: 2em;
  font-size: 0.8em;
  color: $gray;
}

@media print {
  #page-sidebar { display: none; }
}

// ======================================================= typography and roles

// If the first grouping sections come right after doc title, don't put as
// much space between them.
h1 + .section h2:first-child {
  margin-top: 1em;
}

// Same idea: don't add to much space when section heading comes right after
// grouping heading.
h2 + div.section > h3:first-child {
  margin-top: 1em;
}

.page-content a {
  color: $dark-blue;
  font-weight: $weight-pop;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @media print {
    font-weight: $print-weight-text;
    &.external::after { content: " <" attr(href) ">"; }
  }
}

// =============================================================== print breaks

h1, h2, h3, h4, h5, h6 {
  // This doesn't seem to help in browsers, and Prince does the right thing
  // even without this. Keeping it here out of safety.
  page-break-after: avoid;
}

// Keep most things from having needless widows/orphans
p, div, pre {
  widows: 2;
  orphans: 2;
}

// Keep admonitions on a single page unless they're really long
div.admonition {
  widows: 5;
  orphans: 5;
}

p + ul,
p + ol,
p + dl,
p + div.compare {
  page-break-before: avoid;
}

table {
  page-break-inside: avoid;
}

pre {
  page-break-inside: avoid;
}

.code-block-caption {
  page-break-after: avoid;
}

// ========================================================== ul, ol, and hlist
//
// Reveal and handouts take different approaches to lists: here, we use
// padding for levels of indentation:

.page-content {
  ul { padding-left: 1em; }
  ol { padding-left: 1.25em; }

}

// ==================================================================== sphinx

.raw-reveal {
  display: none;
}

@media print {
  .noprint {
    display: none !important;
  }
}

@media print {
  .print-width-120 {
    width: 120%;
    margin-left: -0.5in;
    margin-right: -0.5in;
  }
}